@import url('https://fonts.googleapis.com/css2?family=Alice&family=Teko:wght@300..700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0f5866;
  --secondary-color: #7fffd4;
  --accent1-color: #000000;
  --accent2-color: #ffffff;

  /* change the values below to your chosen font(s) */
  --heading-font: "Teko";
  --paragraph-font: "Alice";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main, header, footer {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 10fr 8fr;
  align-items: center;
  border-bottom: 1px solid #0f5866;
  max-width: 1200px;
  font-size: 20px;
}

nav, .cta {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

nav a, .cta {
  text-decoration: none;
  color: #0f5866;
}

h2 {
  color: steelblue;
  text-align: center;

}



p {
  background-color: #ffffff;
  font-style: oblique;
}


body {
  font-family: var(--paragraph-font);
 
}

footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 15px;
  border-top: 1px solid rgb(58, 117, 206);
  text-align: center;
}

.hero, .hero1{
  position: relative;
}

.hero img , .hero1 img {
  display: block;
  width: 100%;
  height: auto;
}

.hero1 img {
  opacity: 0.5;
}

.hero h1, .hero1 h1{
  position: absolute;
  top: 20px;
  left: 0;
  text-align: center;
  background-color: #0f5866;
  color: #ffffff;
  width: 1200px;
}

.hero article {
  position: absolute;
  top: 400px;
  left: 59%;
  background-color: steelblue;
  width: 493px;
  opacity: 0.9;
}
.joinus {
  position: absolute;
  top: 300px;
  left: 40%;
  font-size: 35px;
  padding: 25px;
}
.joinus a{
  text-decoration: none;
  color: var(--accent1-color);
}

.hero1 article {
  position: absolute;
  top: 75px;
  background-color: #0f5866;
  width: 1200px;
  text-align: center;
  font-size: 25px;
}
  

.hero article p {
  font-weight: bolder;
  text-align: left;
  font-size: 25px;
}

.hero article img {
  float: right;
  width: 150px;
  height: auto;
  border: 5px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px rgb(3, 3, 3);
}

.logo {
  margin: 0 0.25rem 0 1rem;
  width: 100px;
  height: auto;
  padding: 10px;
  margin-left: 25px;
}

.history img {
  float: left;
  width: 200px;
  border: 1px solid steelblue;
  padding: 5px;
  box-shadow: 0 0 30px gray;
  margin-right: 20px;
}

.history p {
  text-align: left;
}

.history h2 {
  text-align: left;
  text-decoration: underline;

}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, 100fr);
  border: 1px solid steelblue;
  padding: 5px;
  text-align: center;
}

.adventures1 p{
  text-align: center;
}

.image-container1 {
  border: 1px solid steelblue;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  text-align: center;
  justify-content: space-evenly
}

.image-container1 p{
  align-self: center;
}


.image, .image1, .image2 {
  box-shadow: 0 0 30px gray;
  border: 1px solid steelblue;
  padding: 5px;
  
}
.image1 {
  width: 150px;
  height: auto;
}


.image2 {
  width: 135px;
  height: auto;
}


.sociallinks {
  list-style-type: none;
  display: inline;
  background-color: #cedddd;
}

.sociallinks img {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 35px;
  height: auto;

}

/* Company name and tagline */
.company-info {
  text-align: center;
  margin: 40px 0;
}

iframe {
margin: 50px;
}

/* Contact section */
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 40px;
}

.employee-info {
  flex: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.employee {
  display: flex;
  flex-direction: row;
  margin: 20px
}

.employee p {
  align-self: center;
}

.employee-info img {
  width: 200px;
  height: 150px;
  border: 1px solid steelblue;
  padding: 4px;
  box-shadow: 0 0 30px gray;
  margin-right: 10px;
}

.contact-details {
  padding: 10px;
  flex: 1;
  text-align: left;
  border: 2px solid #000;
  border-color: #000000;
}

.contact-details h2{
  display: flex;
  justify-content: center;
  
}

/* Form section */
form {
  max-width: 800px;
  margin: 12px auto;
  float: left;
  border: 50px;
  width: 75%;
}

legend{
  font-size: 25px;
  color: steelblue;
}

fieldset {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 20px;
  font-size: 20px;
}
input,
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 20px;
  
}

button{
 width: 100px;
 padding: 0.5em;
 background-color: steelblue;
 color: var(--accent2-color);
 font-size: larger;
 border-radius: 15px;
 border: none;
 margin-left: 83%;
}
button:hover {
  background-color:var(--primary-color);
}


input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.form {
  display: flex;
}

.sub {
  display: flex;
}
.sub label {
  margin: 0;
}

.short-par {
  max-width: 50%;
  align-self: center;
  padding: 2em;
}

.purpose {
 display: flex;
}

input [type="radio"] {
  width: 15px;
  height: 15px;
  padding: 0;
  
}

textarea {
  margin-top: 15px;
}

.cta {
 padding: 0.2em;
 background-color: #0f5866;
 color: var(--accent2-color);
 font-size: 30px;
 border: none;
 width: 70%;
 border-radius: 15px;
 margin-left: 15%;
}
.cta:hover {
  background-color:var(--secondary-color);
  color: #000;
}
.cta:active {
  background-color:steelblue;
  color: #000;
  opacity: 0.5;

}